*{
    box-sizing: border-box;
    --cor-vermelho:rgba(236, 54, 45, 1);
    --cor-borda:rgba(213, 213, 213, 1);
    --cor-botao-criar-quizz: rgba(236, 54, 45, 1);
    --cor-corpo-site: rgba(250, 250, 250, 1);
    --cor-titulo: rgba(255, 255, 255, 1);
    --cor-primeira-pergunta:rgba(67, 76, 160, 1);
    --cor-segunda-pergunta:rgb(160, 67, 141, 1);
    --cor-resposta-quizz: rgba(236, 54, 45, 1);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-corpo-site);
}

/* Cabeçalho */
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-vermelho);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

header h1{
    font-size: 37px;
    font-weight: 700;
    color: var(--cor-titulo);
}

/* Parte principal do site */
main{
    width: 100%;
    margin-top: 69px;
    background-color: var(--cor-corpo-site);
}

/* TELA 01 */
.tela01 {
    width: 90%;
    max-width: 1051px;
    margin: 0 auto;
}

/* Caixa que cria quizz */
.criar-quizz{
    height: 181px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed var(--cor-borda);
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.criar-quizz p{
    max-width: 250px;
    max-height: fit-content;
    color: rgba(185, 185, 185, 1);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.criar-quizz button{
    width: 151px;
    height: 40px;
    color: var(--cor-botao-criar-quizz);
    border: 1px dashed var(--cor-botao-criar-quizz);
    border-radius: 50px;
    font-size: 21px;
    background-color: var(--cor-corpo-site);
    margin-bottom: 15px;
}

/* Todos os Quizzes */
.todos-os-quizzes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todos-os-quizzes ul {
    display: flex;
    flex-wrap: wrap;
}

.todos-os-quizzes div{
    width: 100%;
    max-width: 340px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todos-os-quizzes h2 {
    font-size: 20px;
    font-weight: 700;
}

.todos-os-quizzes ion-icon {
    font-size: 30px;
    color: var(--cor-botao-criar-quizz);
}

.quizz-thumb {
    position: relative;
    width: 100%;
    max-width: 340px;
    height: 181px;
    margin-bottom: 14px;
    border-radius: 5px;
}
.quizz-thumb::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border-radius: 5px;
  }

.quizz-thumb img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.quizz-thumb p{
    color: var(--cor-corpo-site);
    font-size: 19px;
    position: absolute;
    bottom: 8%;
    left: 4%;
    max-width: 85%;
    z-index: 2;
}

/* TELA 02*/

.tela02 {
    width: 100%;
    margin-top: 69px;
}
/* Imagem com titulo quizz*/
.titulo-quizz{ 
    width: 100%;
    height: 142px;
    position: relative;
    display: flex;
    margin-bottom: 25px;
}

.titulo-quizz img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo-quizz h2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    font-size: 19px;
    color: var(--cor-titulo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-perguntas {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.pergunta {
    width: 100%;
    max-width: 700px;
    margin-bottom: 50px;
}
.container-respostas {
    display: flex;
    flex-wrap: wrap;
}

.titulo-primeira-pergunta{
    width:100%;
    height: 90px;
    margin-bottom: 12px;
    display:flex;
    text-align: center;
    align-items: center;
    background-color: var(--cor-primeira-pergunta); /* inserir a cor dinamicamente */
    font-weight: 700;
    font-size: 19px;
    justify-content: center;
}

.titulo-primeira-pergunta h2{
    color: var(--cor-titulo);
}

.titulo-segunda-pergunta{
    width:100%;
    height: 90px;
    margin-bottom: 12px;
    display:flex;
    text-align: center;
    align-items: center;
    background-color: var(--cor-segunda-pergunta);
    font-weight: 700;
    font-size: 19px;
    justify-content: center;

}

.titulo-segunda-pergunta h2{
    color: var(--cor-titulo);
}

.resposta {
    width: 47.5%;
    max-width: 340px;
    margin: 0 5% 12px 0;
}
    .resposta:nth-child(2n) {
        margin-right: 0;
    }

.resposta img{
    width: 100%;
    max-width: 330px;
    object-fit: cover;
}

.resposta p{
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
}

.resultado{
    width: 95%;
    max-width: 727px;
    margin: 0 auto;
    background-color: var(--cor-titulo);
}

.titulo-resultado{
    width:100%;
    height: 90px;
    margin-bottom: 10px;
    display:flex;
    background-color: var(--cor-vermelho);
    font-weight: 700;
    font-size: 19px;
}

.titulo-resultado h2 {
    margin: auto;
    color: var(--cor-titulo);
    text-align: center;
}

.resultado img{
    width: 100%;
}

.resultado p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #484848;
}

.container-botoes {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.container-botoes button {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.container-botoes .botao-reiniciar {
    margin-bottom: 10px;
    background-color: var(--cor-vermelho);
    color: #FFF5F4;
}
.container-botoes .botao-menu {
    background-color: var(--cor-corpo-site);
    color: #818181;
}


/* TELA 03 */
.tela03 {
    width: 100%;
    margin-top: 69px;
    border: 1px solid transparent;
}
    .tela03 .criacao-titulo {
        width: 100%;
        margin: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tela03 h2 {
        font-size: 20px;
        font-weight: 700;
        line-height: 23.5px;
        color: #000;
    }
    .tela03 .pergunta-form {
        width: 95%;
        height: 74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .pergunta-form ion-icon {
            font-size: 24px;
            color: #000;
        }

button:hover {
    cursor: pointer;
}
form {
    width: 95%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 9px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 14px;
    font-size: 19px;
    color: #262626;
}
    input::placeholder, textarea::placeholder {
        color: #bababa;
        font-style: italic;
    }
    input:focus, textarea:focus {
        outline: 1px solid #bfbfbf;
    }
textarea {
    font-family: 'Roboto', sans-serif;
    height: 200px;
    padding-top: 10px;
}
label {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.5px;
    color: #000;
    margin: 20px 0;
    align-self: flex-start;
}

.tela03 button {
    width: 324px;
    height: 54px;
    border: none;
    border-radius: 15px;
    background-color: var(--cor-vermelho);
    color: #fff5f4;
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0;
}
.tela03 .container-botoes {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.tela03 .container-botoes button {
    width: 230px;
    height: 45px;
    border: none;
    border-radius: 15px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.tela03 .container-botoes .botao-vermelho {
    margin-bottom: 10px;
    background-color: var(--cor-vermelho);
    color: #FFF5F4;
}
.tela03 .container-botoes .botao-home {
    background-color: var(--cor-corpo-site);
    color: #818181;
}

.tela03 > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela03 ul, li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 1100px){
    /* TELA 01 */
    .criar-quizz{
        margin-bottom: 70px;
    }

    .todos-os-quizzes {
        display: block;
    }

    .todos-os-quizzes div{
        margin-bottom: 15px;
        justify-content:flex-start;
    }
    .todos-os-quizzes h2 {
        margin-right: 17px;
    }

    .todos-os-quizzes .quizz{
        margin:0 15px 12px 0;
    }
        .todos-os-quizzes .quizz:nth-of-type(3n) {
            margin-right: 0;
        }

    
    /* TELA 02 */
    .titulo-quizz {
        height: 227px;
    }
    .titulo-quizz h2 {
        font-size: 39px;
    }

    .resultado .resultado-mensagem {
        display: flex;
        justify-content: space-between;
    }
    .resultado img {
        width: 50%;
        margin-right: 21px;
    }
    .resultado p {
        font-size: 19px;
        line-height: 25px;
        margin-top: 0;
    }

    /* TELA 03 */
    .tela03 > section {
        width: 600px;
        margin:  0 auto;
    }
    .tela03 .quizz-thumb {
        max-width: 500px;
        height: 266px;
    }
}

/* CLASSES JS */
.escondido{
    display: none !important;
}
